<h1>Bem-vindo ao Task List!</h1>
<h3>Sua lista de tarefas:</h3>

<!--Comentario: nao desejamos imprimir a iteração (each), somente a descrição das tarefas -->
<% if @tasks.empty? %>
  <%= 'Nenhuma tarefa encontrada' %><br>
<% else %>
  <% @tasks.each do |task| %>
    <%= task.description %>
    <!--caminho para editar esse objeto especifico-->
    <%= link_to 'Editar' , edit_task_path(task) %> <!--#Controller + action => tasks#edit-->
    <!--#Controller + action c tasks#destroy-->
    <%= link_to 'Apagar' , task_path(task), method: :delete, data: {confirm: 'Quer apagar essa tarefa?'} %><br>
  <% end %>
<% end %>
<%= link_to 'Adicionar tarefa', new_task_path %> <!--#Controller + action => c tasks#new-->
